@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@font-face {
  font-family: "Gros Ventre";
  src: url("/font/Utsaah Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-black: #0d1a20;
  /* --color-primary: #f9f9f9; */
  --color-primary: #f5f5f0;
  --color-secondary: #1c5e6a;
  
 
   --font-sans: "Gros Ventre", var(--font-geist-sans), sans-serif;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
